<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" xmlns:sec="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand" th:href="@{/home}">WorkshopFinder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/workshops/index}">Talleres</a>
            </li>
            <li class="nav-item" th:if="${user.admin}">
                <a class="nav-link" th:href="@{/users/index}">Usuarios</a>
            </li>
        </ul>
        <div >
            <a class="btn btn-primary" th:href="@{/profile/{email}(email=${user.email})}" th:text="${user.nombre}">'</a>
            <a class="btn btn-danger" th:href="@{/logout}">Cerrar Sesion</a>
        </div>

    </div>
</nav>